/* App.css */
@font-face {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: normal;
    src: url("./fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}

body,
.css-knl688-JoyTable-root {
    font-family: "Noto Sans KR", sans-serif !important;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 2%;
    /* height: 100vh; */
}

.image-upload {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}
.mb10 {
    margin-bottom: 10px;
}
.fr {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.chooseFile {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: nowrap;
    width: 350px;
    justify-content: space-around;
}

.fileContainer {
    margin-top: 10px;
}

.fileInput {
    margin-bottom: 10px;
}

.image-show {
    position: relative;
    padding: 0;
    margin: 0;
}
canvas {
    width: 100%;
    height: 100%;
    max-width: 500px !important;
    max-height: 500px !important;
    position: absolute;
    left: -9999px;
    top: -9999px;
}
img {
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 500px;
    margin-top: 50px;
    object-fit: cover;
    overflow: visible;
}

.text-overlay {
    position: absolute;
    bottom: 70px; /* 아래 여백 조정 */
    left: 20px; /* 왼쪽 여백 조정 */
    color: #676767; /* 텍스트 색상 */
    width: 150px !important;
    background-color: #fff;
    font-size: 1rem; /* 텍스트 크기 */
    line-height: 25px;
    font-family: Arial, sans-serif; /* 텍스트 폰트 */
    /* box-shadow: 2px 2px 2px rgba(185, 184, 184, 0.653);  */
}
.text-table td {
    height: 5px !important;
}
.text-table td:first-child {
    width: 40px !important;
}
/* .text-table td {
    outline: 1px solid #676767;
    padding: 0 10px;
    height: 25px;
}
.text-table td:first-child {

    width: 50px;
} */
input:focus {
    --Input-focusedThickness: var(--joy-focus-thickness, 2px);
    --Input-focusedHighlight: var(--joy-palette-primary-500, #0b6bcb);
}
input[type="date"] {
    --Input-radius: var(--joy-radius-sm, 6px);
    --Input-gap: 0.5rem;
    --Input-placeholderColor: inherit;
    --Input-placeholderOpacity: 0.64;
    width: 100%;
    --Input-decoratorColor: var(
        --joy-palette-text-icon,
        var(--joy-palette-neutral-500, #636b74)
    );
    --Input-focused: 0;
    --Input-focusedThickness: var(--joy-focus-thickness, 2px);
    --Input-focusedHighlight: var(--joy-palette-primary-500, #0b6bcb);
    --Input-minHeight: 2rem;
    --Input-paddingInline: 0.5rem;
    --Input-decoratorChildHeight: min(1.5rem, var(--Input-minHeight));
    --Icon-fontSize: var(--joy-fontSize-xl, 1.25rem);
    --Input-decoratorChildOffset: min(
        calc(
            var(--Input-paddingInline) -
                (
                    var(--Input-minHeight) - 2 * var(--variant-borderWidth, 0px) -
                        var(--Input-decoratorChildHeight)
                ) / 2
        ),
        var(--Input-paddingInline)
    );
    --_Input-paddingBlock: max(
        (
                var(--Input-minHeight) - 2 * var(--variant-borderWidth, 0px) -
                    var(--Input-decoratorChildHeight)
            ) / 2,
        0px
    );
    --Input-decoratorChildRadius: max(
        var(--Input-radius) - var(--variant-borderWidth, 0px) -
            var(--_Input-paddingBlock),
        min(
            var(--_Input-paddingBlock) + var(--variant-borderWidth, 0px),
            var(--Input-radius) / 2
        )
    );
    --Button-minHeight: var(--Input-decoratorChildHeight);
    --Button-paddingBlock: 0px;
    --IconButton-size: var(--Input-decoratorChildHeight);
    --Button-radius: var(--Input-decoratorChildRadius);
    --IconButton-radius: var(--Input-decoratorChildRadius);
    box-sizing: border-box;
    box-shadow: var(--joy-shadowRing, 0 0 #000),
        0px 1px 2px 0px
            rgba(
                var(--joy-shadowChannel, 21 21 21) /
                    var(--joy-shadowOpacity, 0.08)
            );
    min-width: 0;
    min-height: var(--Input-minHeight);
    cursor: text;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-inline: var(--Input-paddingInline);
    border-radius: var(--Input-radius);
    font-family: var(
        --joy-fontFamily-body,
        "Inter",
        var(
            --joy-fontFamily-fallback,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Helvetica,
            Arial,
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol"
        )
    );
    font-size: var(--joy-fontSize-sm, 0.875rem);
    line-height: var(--joy-lineHeight-md, 1.5);
    color: var(
        --variant-outlinedColor,
        var(
            --joy-palette-primary-outlinedColor,
            var(--joy-palette-primary-500, #0b6bcb)
        )
    );
    --variant-borderWidth: 1px;
    border: var(--variant-borderWidth) solid;
    border-color: var(
        --variant-outlinedBorder,
        var(
            --joy-palette-primary-outlinedBorder,
            var(--joy-palette-primary-300, #97c3f0)
        )
    );
    background-color: var(
        --joy-palette-background-surface,
        var(--joy-palette-neutral-50, #fbfcfe)
    );
}
label {
    padding: 0 10px !important;
}
.addBtn {
    margin: 0 10px;
}

.input-table td:first-child {
    width: 25%;
}
.img-container > .reactEasyCrop_Container {
    width: 300px !important;
    height: 300px !important;
    margin-top: 10px;
    position: relative;
}
.css-sx5hge > .MuiTextField-root,
.css-sx5hge > .MuiPickersTextField-root {
    min-width: 100px !important;
}
.reactEasyCrop_CropArea {
    width: 270px !important;
    height: 270px !important;
}
